<div class="container">
    <div class="header">
        <p>Application Details</p>
    </div>
    <div class="title3">
        <h4>Person Info</h4>
    </div>
    <div class="details">
        <label for="name">Name :&nbsp;</label><span>{{data?.name}}</span><br>
        <label for="number">Contact :&nbsp;</label><span>{{data?.number}}</span><br>
        <label for="email">E-mail :&nbsp;</label><span>{{data?.email}}</span><br>
        <label for="gender">Gender :&nbsp;</label><span>{{data?.gender}}</span><br>
        <label for="nationality">Nationality :&nbsp;</label><span>{{data?.nationality}}</span><br>
        <label for="dob">D.O.B. :&nbsp;</label><span>{{data?.dob}}</span><br>
        <label for="age">Age :&nbsp;</label><span>{{data?.age}}</span><br>
        <label for="aadhar">Aadhar No :&nbsp;</label><span>{{data?.aadhar}}</span><br>
        <label for="address">Address :&nbsp;</label><span>{{data?.address}}</span><br>
        <label for="loan">Type of Loan :&nbsp;</label><span>{{data?.loan}}</span><br>
    </div>
    <div class="title1">
        <h4>Home Loan</h4>
    </div>
    <div class="HomeLoan">
        <label for="propertySqft">Property(sqft) :&nbsp;</label><span>{{data?.propertySqft}}</span><br>
        <label for="builderName">Builder Name :&nbsp;</label><span>{{data?.builderName}}</span><br>
        <label for="propertyValue">Property Value :&nbsp;</label><span>{{data?.propertyValue}}</span><br>
        <label for="annualSalary">Annual Salary :&nbsp;</label><span>{{data?.annualSalary1}}</span><br>
        <label for="loanAmount">Loan Amount :&nbsp;</label><span>{{data?.loanAmount1}}</span><br>
        <label for="loanDuration">Duration :&nbsp;</label><span>{{data?.loanDuration1}}</span><br>
    </div>
    <div class="title2">
        <h4>Personal Loan</h4>
    </div>
    <div class="PersonalLoan">
        <label for="companyname">Company Name :&nbsp;</label><span>{{data?.companyname}}</span><br>
        <label for="experience">Experience :&nbsp;</label><span>{{data?.experience}}</span><br>
        <label for="emiamount">Existing EMI Ammount :&nbsp;</label><span>{{data?.emiamount}}</span><br>
        <label for="annualSalary2">Annual Salary :&nbsp;</label><span>{{data?.annualSalary2}}</span><br>
        <label for="loanAmount2">Loan Amount  :&nbsp;</label><span>{{data?.loanAmount2}}</span><br>
        <label for="loanDuration2">Duration :&nbsp;</label><span>{{data?.loanDuration2}}</span><br>
    </div>
</div>










